.project {
    margin: 20px;
    width: 25%;
    text-align: left;
    border: 2px solid black;
    padding: 5px;
}

.add-collaborators {
    margin: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D2CECD;
    text-align: center;
    cursor: pointer;
}